<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
</head>
<body>
<div class="container">
    <div class="content-wrapper">
        <div class="content">
            <div class="project" data-id="1">
                <div class="project-header">
                    <h2>Project name</h2>
                </div>
                <div class="project-body">
                    <div class="project-image">

                    </div>
                    <div class="project-info">
                        <div class="project-description">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi consequatur error modi
                            sequi sint tempore voluptas! At eos impedit inventore iure minima, minus officiis vel. Nam
                            natus quaerat sapiente totam!
                        </div>
                        <div class="project-status">
                            В работе
                        </div>
                    </div>
                </div>
            </div>
            <div class="project" data-id="2">
                <div class="project-header">
                    <h2>Project name</h2>
                </div>
                <div class="project-body">
                    <div class="project-image">

                    </div>
                    <div class="project-info">
                        <div class="project-description">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi consequatur error modi
                            sequi sint tempore voluptas! At eos impedit inventore iure minima, minus officiis vel. Nam
                            natus quaerat sapiente totam!
                        </div>
                        <div class="project-status">
                            В работе
                        </div>
                    </div>
                </div>
            </div>
            <div class="project" data-id="3">
                <div class="project-header">
                    <h2>Project name</h2>
                </div>
                <div class="project-body">
                    <div class="project-image">

                    </div>
                    <div class="project-info">
                        <div class="project-description">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi consequatur error modi
                            sequi sint tempore voluptas! At eos impedit inventore iure minima, minus officiis vel. Nam
                            natus quaerat sapiente totam!
                        </div>
                        <div class="project-status">
                            В работе
                        </div>
                    </div>
                </div>
            </div>
            <div class="project" data-id="4">
                <div class="project-header">
                    <h2>Project name</h2>
                </div>
                <div class="project-body">
                    <div class="project-image">

                    </div>
                    <div class="project-info">
                        <div class="project-description">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi consequatur error modi
                            sequi sint tempore voluptas! At eos impedit inventore iure minima, minus officiis vel. Nam
                            natus quaerat sapiente totam!
                        </div>
                        <div class="project-status">
                            В работе
                        </div>
                    </div>
                </div>
            </div>
            <div class="project" data-id="5">
                <div class="project-header">
                    <h2>Project name</h2>
                </div>
                <div class="project-body">
                    <div class="project-image">

                    </div>
                    <div class="project-info">
                        <div class="project-description">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi consequatur error modi
                            sequi sint tempore voluptas! At eos impedit inventore iure minima, minus officiis vel. Nam
                            natus quaerat sapiente totam!
                        </div>
                        <div class="project-status">
                            В работе
                        </div>
                    </div>
                </div>
            </div>
            <div class="project" data-id="6">
                <div class="project-header">
                    <h2>Project name</h2>
                </div>
                <div class="project-body">
                    <div class="project-image">

                    </div>
                    <div class="project-info">
                        <div class="project-description">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi consequatur error modi
                            sequi sint tempore voluptas! At eos impedit inventore iure minima, minus officiis vel. Nam
                            natus quaerat sapiente totam!
                        </div>
                        <div class="project-status">
                            В работе
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}
</body>
</html>
