<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
</head>
<body>
<div class="container">
    <div class="filters">
        <form method="POST" action="/api/projects/filter">
            <input type="text" name="subject" placeholder="Название">
            <input type="date" name="from">
            <input type="date" name="to">
            <input type="submit" value="Найти">
        </form>
    </div>
    <div class="content">

    </div>
</div>
{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}
</body>
</html>
